@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right , #027333 , #04D939);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 5px 5px 15px #024d31;
}

h1{
    color: #012340;
    text-shadow: 1px 1px 1px #02593996;
}

h2{
    color: #025939;
}
p{
    text-align: justify;
}