@charset "UTF-8";

body{
            background-color: rgb(252, 164, 0);
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: justify;
        }
h1{
            color:brown;
}
h2{
            color: cyan;
}